/* from style.css */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.spacer {
    margin: 20px; /* define margin as you see fit */
}

/* from the chat-bar.css */
#nameInput {
  font-weight: bold;
}

.chat {
  padding-top:2px;
}

.chat-div {
  font-size: 0.7em;
  padding:2px;
  width:800px;
  height:600px;
  border:solid 1px black;
  overflow-y:scroll;
  display: block;
}

/* videoFaces.css */

.hidden {
    background-color: transparent;
    border-color: 2px solid blue;
}

.closeButton {
    display: none;  /*hide the easyApp's close button because we have our own*/
}

#controlArea {
    background-color: #ff8000;
}

.avatar {
  border: 1px solid black;
  margin-top: 5px;
}

/* Video Streams */
video.thumbCommon{
  max-width: 567px;
  position: relative;
  height: auto !important;
  top: 0 !important;
  left: 0 !important;
}

/*#killButton {
    opacity:0.7;
}

#killButton:hover {
    opacity:1.0;
}
*/

/*
.bootbox {
position: fixed;
bottom: 25%;
right: 0;
margin-bottom: 0;
font-size: 1.2em;
padding: 1em 1.3em;
z-index: 2000;
}*/
