<div class="container">
  <div class="jumbotron">
    <p class="small text-muted">Discussion topic today:</p>
    <h2 class="text-center">{%currentTopic.topic%}</h2>
  </div>
</div>


<!-- thumbnail videos view -->
<div class="col-md-12">
  <div class="boxCommon panel">
      <video id="box0" class="col-md-6 boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" controls></video>
      <video id="box1" class="col-md-6 boxCommon thumbCommon" volume="0.5" controls></video>
      <video id="box2" class="col-md-6 boxCommon thumbCommon" volume="0.5" controls></video>
      <video id="box3" class="col-md-6 boxCommon thumbCommon" volume="0.5" controls></video>
  </div>
</div>

<!-- tables -->
<div ng-repeat="table in seats" class="well text-center col-sm-4">
  <h4 class="text-left" style="padding-left:16px">{% table.tableNumber %}</h4>
  <div ng-style="tableCloth">
    <div ng-repeat="seat in table" class="col-sm-6 seat {% seat.seatNumber %}">
      <button type="button" ng-click="doClick(seat.seatNumber, table.tableNumber, $event)" class="btn btn-default btn-lg btn-block">
      <span ng-show="seat.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <img ng-show="seat.name !== 'empty' " ng-src="{% seat.avatar %}&s=110" aria-hidden="true">
      </button>
      <span class="label label-default">{% seat.name %}</span>
    </div>
  </div>
  <div class="select-tablecloth col-sm-12">
    <span class="label label-primary" ng-click="chooseCloth('blue')">Blue</span>
    <span class="label label-success" ng-click="chooseCloth('green')">Green</span>
    <span class="label label-warning" ng-click="chooseCloth('orange')">Orange</span>
    <span class="label label-danger" ng-click="chooseCloth('red')">Red</span>
  </div>
</div>
