<!-- thumbnail videos view -->
  <div class = "container col-md-12">
    <div class="boxCommon panel" ng-show="seated">
        <video id="box0" class="col-md-6 boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
        <video id="box1" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
        <video id="box2" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
        <video id="box3" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
    </div>
  </div>


<!-- This view file shows the kitchen and thumbs videos to the user -->

<div class="text-center" onload="roomInit()">
  <div class="row">
    <div class="col-sm-4 well ">
      <table class="table">
        <thead>
          <tr>
            <th ng-click="viewThumbs('table1')">Table 1</th>
          </tr>
        </thead>
        <tfoot>
          <span class="label label-primary" ngclick="chooseCloth('blue')">Blue</span>
          <span class="label label-success" ngclick="chooseCloth('green')">Green</span>
          <span class="label label-info" ngclick="chooseCloth('light blue')">Light Blue</span>
          <span class="label label-warning" ngclick="chooseCloth('orange')">Orange</span>
          <span class="label label-danger" ngclick="chooseCloth('red')">Red</span>
        </tfoot>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table1.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table1.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table1.seat1.name !== 'empty' " ng-src="{%seats.table1.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table1.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table1.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table1.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table1.seat2.name !== 'empty' " ng-src="{%seats.table1.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table1.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table1.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table1.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table1.seat3.name !== 'empty' " ng-src="{%seats.table1.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table1.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table1.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table1.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table1.seat4.name !== 'empty' " ng-src="{%seats.table1.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table1.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label-primary" ng-click="viewThumbs('table2')">Table 2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table2.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table2.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table2.seat1.name !== 'empty' " ng-src="{%seats.table2.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table2.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table2.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table2.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table2.seat2.name !== 'empty' " ng-src="{%seats.table2.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table2.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table2.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table2.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table2.seat3.name !== 'empty' " ng-src="{%seats.table2.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table2.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table2.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table2.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table2.seat4.name !== 'empty' " ng-src="{%seats.table2.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table2.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label-primary" ng-click="viewThumbs('table3')">Table 3</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table3.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table3.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table3.seat1.name !== 'empty' " ng-src="{%seats.table3.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table3.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table3.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table3.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table3.seat2.name !== 'empty' " ng-src="{%seats.table3.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table3.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table3.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table3.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table3.seat3.name !== 'empty' " ng-src="{%seats.table3.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table3.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table3.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table3.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table3.seat4.name !== 'empty' " ng-src="{%seats.table3.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table3.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label-primary" ng-click="viewThumbs('table4')">Table 4</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table4.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table4.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table4.seat1.name !== 'empty' " ng-src="{%seats.table4.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table4.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table4.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table4.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table4.seat2.name !== 'empty' " ng-src="{%seats.table4.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table4.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table4.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table4.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table4.seat3.name !== 'empty' " ng-src="{%seats.table4.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table4.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table4.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table4.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table4.seat4.name !== 'empty' " ng-src="{%seats.table4.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table4.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label-primary" ng-click="viewThumbs('table5')">Table 5</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table5.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table5.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table5.seat1.name !== 'empty' " ng-src="{%seats.table5.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table5.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table5.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table5.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table5.seat2.name !== 'empty' " ng-src="{%seats.table5.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table5.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table5.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table5.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table5.seat3.name !== 'empty' " ng-src="{%seats.table5.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table5.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table5.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table5.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table5.seat4.name !== 'empty' " ng-src="{%seats.table5.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table5.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label-primary" ng-click="viewThumbs('table6')">Table 6</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table6.seat1, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table6.seat1.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table6.seat1.name !== 'empty' " ng-src="{%seats.table6.seat1.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table6.seat1.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table6.seat2, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table6.seat2.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table6.seat2.name !== 'empty' " ng-src="{%seats.table6.seat2.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table6.seat2.name|| 'loading'%}</span>
             </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="doClick(seats.table6.seat3, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table6.seat3.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table6.seat3.name !== 'empty' " ng-src="{%seats.table6.seat3.avatar%}&s=40" aria-hidden="true"></img>
             </button>
             <span class="label label-default">{%seats.table6.seat3.name|| 'loading'%}</span>
            </td>
            <td><button type="button" ng-click="doClick(seats.table6.seat4, $event)" class="btn btn-default seat btn-lg btn-block">
              <span ng-show="seats.table6.seat4.name === 'empty' " class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <img ng-show="seats.table6.seat4.name !== 'empty' " ng-src="{%seats.table6.seat4.avatar%}&s=40" aria-hidden="true"></img>             </button>
             <span class="label label-default">{%seats.table6.seat4.name|| 'loading'%}</span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Kitchen tables and seats view -->
  <div class="panel panel-default container col-md-6" ng-controller="kitchenCtrl">
      <div class="well well-sm urlbar">
      <div>{% currentSeat %}</div>
      <div>URL: {% currentURL %}</div>
    </div>
  <button ng-click="clearRoom()" class="btn btn-default seat">Clear Room</button>
  </div>

<!-- thumbnail videos view -->
<!--   <div class = "container col-md-6">
    <div class="boxCommon panel">
        <video id="box0" class="col-md-6 boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
        <video id="box1" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
        <video id="box2" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
        <video id="box3" class="col-md-6 boxCommon thumbCommon" muted="muted" volume="0"></video>
    </div>
  </div> -->




